<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 🌟 1. namespace: 이 XML이 아까 만든 어떤 자바 인터페이스와 짝꿍인지 패키지 경로를 똑같이 적어줍니다. -->
<mapper namespace="com.youwin.khs.member.mapper.MemberMapper">


    <!-- 🌟 2. 회원가입 쿼리 (insert) -->
    <!-- id는 자바 인터페이스의 메서드 이름과 대소문자까지 똑같아야 합니다. -->
    <insert id="insertMember" parameterType="com.kh.demo.member.dto.MemberDto">
        INSERT INTO member (
        member_id,
        member_password,
        nickname,
        member_phone,
        member_email,
        profile_image
        ) VALUES (
        #{memberId},    <!-- #{...} 안에는 DTO 상자의 변수 이름을 적어줍니다. -->
        #{memberPassword},
        #{nickname},
        #{memberPhone},
        #{memberEmail},
        #{profileImage}
        )
    </insert>

    <!-- 🌟 3. 아이디 중복 체크 쿼리 (select) -->
    <select id="checkId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}
    </select>

</mapper>